.rules-container {
  width: 60%;
  margin: 2rem auto;
  padding: 3rem;
  display: grid;
  place-items: center;
  border: 1px solid var(--gray);
  gap: 1rem;
}

.rules-container h2 {
  color: var(--white);
  font-size: 2rem;
}

.rules-container a {
  border: 1px solid var(--gray);
  color: var(--white-light);
  text-decoration: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  border-radius: 30px;
}

.rule {
  display: flex;
  gap: 1rem;
}

.rule .fa-star {
  font-size: 1.5rem;
  color: var(--gold);
}

.rule h3 {
  color: var(--white-light);
  font-size: 1.5rem;
}

