h1 {
  text-align: center;
  color: var(--white);
}

.question-container {
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid var(--gray);
}

.question__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.question__top div > span:first-child {
  color: var(--gray);
  font-size: 1.3rem;
  font-weight: 600;
}

.question__top div > span:last-child {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 600;
}

.question {
  height: fit-content;
  width: 100%;
  font-size: 1.5rem;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.question img {
  height: 100%;
  width: 30%;
  object-fit: contain;
}

.question-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* align-self: flex-start; */
}

.option__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.option {
  width: 350px;
  color: var(--white);
  background-color: transparent;
  font-size: 1.25rem;
  padding: 1rem 0;
  margin-bottom: 0.5rem;
  border: 1px solid var(--gray);
}

.option:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.result {
  display: block;
  margin: 1rem auto;
  border: 1px solid var(--gray);
  color: var(--white-light);
  text-decoration: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}
